<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
	<!-- 유저 -->
	<resultMap type="User" id="UserResultMap">
		<id property="userId" column="USER_ID"></id>
		<result property="userPw" column="USER_PW"></result>
		<result property="userName" column="USER_NAME"></result>
		<result property="userEmail" column="USER_EMAIL"></result>
		<result property="userPhone" column="USER_PHONE"></result>
		<result property="userBlackList" column="USER_BLACKLIST"></result>
	</resultMap>
	<select id="selectTotalCountUser" resultType="_int">
		SELECT COUNT(*) FROM USER_TBL
	</select><select id="selectUserList" parameterType="java.util.Map" resultMap="UserResultMap">
	    SELECT * FROM USER_TBL
	</select>
	
	<!-- 게시판  -->
	<resultMap type="Board" id="BoardResultMap">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardName" column="BOARD_NAME" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="userId" column="USER_ID" />
	</resultMap>
	<select id="selectTotalCountBoard" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL
	</select>
	<select id="selectBoardList" parameterType="java.util.Map" resultMap="BoardResultMap">
	    SELECT * FROM BOARD_TBL
	</select>
	
	<!-- 와인 -->
	<resultMap type="Wine" id="WineResultMap">
		<id property="wineNo" column="WINE_NO"></id>
		<result property="wineName" column="WINE_NAME"></result>
		<result property="wineRegion" column="WINE_REGION"></result>
		<result property="wineRank" column="WINE_RANK"></result>
		<result property="wineAging" column="WINE_AGING"></result>
		<result property="wineAVB" column="WINE_ABV"></result>
		<result property="wineTemp" column="WINE_TEMP"></result>
		<result property="winePrice" column="WINE_PRICE"></result>
		<result property="wineScore" column="WINE_SCORE"></result>
		<result property="wineCategory" column="WINE_CATEGORY"></result>
		<result property="imgFilename" column="IMG_FILENAME"></result>
		<result property="imgFileRename" column="IMG_FILERENAME"></result>
		<result property="imgFilePath" column="IMG_FILEPATH"></result>
		<result property="imgFileLength" column="IMG_FILELENGTH"></result>
		<result property="wineMonth" column="WINE_MONTH"></result>
		<result property="wineAcidity" column="WINE_ACIDITY"></result>
	</resultMap>
	<select id="selectTotalCountWine" resultType="_int">
		SELECT COUNT(*) FROM WINE_TBL
	</select>
	<select id="selectWineList" parameterType="java.util.Map" resultMap="WineResultMap">
	    SELECT * FROM WINE_TBL
	</select>
	<insert id="wineRegister">
		INSERT INTO WINE_TBL
		VALUES(SEQ_WINE_NO.NEXTVAL, #{wineName}, #{wineRegion}, #{wineRank}, #{wineAging}, #{wineAVB}, #{wineTemp}, #{winePrice}, #{wineScore}, #{wineCategory}, #{imgFilename}, #{imgFileRename}, #{imgFilePath}, #{imgFileLength}, #{wineMonth}, #{wineAcidity})
	</insert>
	<select id="selectWineOne" resultMap="WineResultMap">
		SELECT * FROM WINE_TBL
		WHERE WINE_NO = ${wineNo}
	</select>
	<update id="wineUpdate">
	    UPDATE WINE_TBL
	    SET 
	        WINE_NAME = #{wineName},
	        WINE_REGION = #{wineRegion},
	        WINE_RANK = #{wineRank},
	        WINE_AGING = #{wineAging},
	        WINE_ABV = #{wineAVB},
	        WINE_TEMP = #{wineTemp},
	        WINE_PRICE = #{winePrice},
	        WINE_SCORE = #{wineScore},
	        WINE_CATEGORY = #{wineCategory},
	        IMG_FILENAME = #{imgFilename},
	        IMG_FILERENAME = #{imgFileRename},
	        IMG_FILEPATH = #{imgFilePath},
	        IMG_FILELENGTH = #{imgFileLength},
	        WINE_MONTH = #{wineMonth},
	        WINE_ACIDITY = #{wineAcidity}
	    WHERE WINE_NO = #{wineNo}
	</update>
	<!-- 와이너리 -->
	<resultMap type="Winery" id="WineryResultMap">
		<id property="wineryNo" column="WINERY_NO"></id>
		<result property="wineryName" column="WINERY_NAME"></result>
		<result property="wineryAddress" column="WINERY_ADDRESS"></result>
		<result property="wineryPhone" column="WINERY_PHONE"></result>
		<result property="madeWine" column="MADE_WINE"></result>
		<result property="wineryWebAddress" column="WINERY_WEB_ADDRESS"></result>
		<result property="imgFilename" column="IMG_FILENAME"></result>
		<result property="imgFileRename" column="IMG_FILERENAME"></result>
		<result property="imgFilepath" column="IMG_FILEPATH"></result>
		<result property="imgFilelength" column="IMG_FILELENGTH"></result>
	</resultMap>
	<select id="selectTotalCountWinery" resultType="_int">
		SELECT COUNT(*) FROM WINERY_TBL
	</select>
	<select id="selectWineryList" parameterType="java.util.Map" resultMap="WineryResultMap">
	    SELECT * FROM WINERY_TBL
	</select>
</mapper>