<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="Kboard" id="boardResultMap">
		<id 	property="boardNo" 			column="BOARD_NO"/>
		<result property="boardName" 		column="BOARD_NAME"/>
		<result property="boardContent" 	column="BOARD_CONTENT"/>
		<result property="userId" 		column="USER_ID"/>
		<result property="boardDate" 		column="BOARD_DATE"/>
		<result property="updateDate" 		column="UPDATE_DATE"/>		
	</resultMap>
	
	<resultMap type="Img" id="boardImageMap">
		<id 	property="imgNo" 			column="IMG_NO"/>
		<result 	property="imgFilename" 			column="IMG_FILENAME"/>
		<result 	property="imgFileRename" 			column="IMG_FILERENAME"/>
		<result 	property="imgFilepath" 			column="IMG_FILEPATH"/>
		<result 	property="imgFilelength" 			column="IMG_FILELENGTH"/>
		<result 	property="boardNo" 			column="BOARD_NO"/>
	</resultMap>
	
	
	
	<select id="selectBoardList" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL ORDER BY BOARD_NO DESC
	</select>
	<select id="selectOneByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL
		WHERE BOARD_NO = #{boardNo } 
		ORDER BY BOARD_NO DESC
	</select>
	<select id="selectImgList" resultMap="boardImageMap">
		SELECT * FROM BOARD_IMG_TBL
		WHERE BOARD_NO = #{boardNo } 
		ORDER BY BOARD_NO DESC
	</select>
	<insert id="insertBoard">
		INSERT INTO BOARD_TBL
		VALUES(SEQ_BOARD_NO.NEXTVAL, #{boardName},#{boardContent}
		,DEFAULT,DEFAULT,#{userId})
	</insert>
	<insert id="insertBoardFiles">
		INSERT INTO BOARD_IMG_TBL
		VALUES(SEQ_BOARD_IMG_NO.NEXTVAL, #{imgFilename},#{imgFileRename}
		,#{imgFilepath},#{imgFilelength},SEQ_BOARD_NO.CURRVAL)
	</insert>
	  	<select id="searchTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM BOARD_TBL
  		WHERE USER_ID LIKE '%'||#{searchKeyword }||'%'
  		OR BOARD_NAME LIKE '%'||#{searchKeyword }||'%'
  		OR BOARD_CONTENT LIKE '%'||#{searchKeyword }||'%'
  	</select>
  	
  	  	<select id="searchBoardByKeword" resultMap = "boardResultMap">
  		SELECT * FROM BOARD_TBL
  		WHERE BOARD_NAME LIKE '%'||#{searchKeyword }||'%'
  		ORDER BY BOARD_NO DESC
  	</select>
	
	<select id="selectBoardByNo" resultMap="boardResultMap">
  		SELECT * FROM BOARD_TBL LEFT OUTER JOIN BOARD_IMG_TBL USING(BOARD_NO) WHERE BOARD_NO = #{boardNo }
  	</select>
  	
  	
  	<update id="updateBoard">
  	UPDATE BOARD_TBL
  	SET BOARD_NAME = #{boardName }, BOARD_CONTENT = #{boardContent }
  	, UPDATE_DATE = DEFAULT
  	WHERE BOARD_NO = #{boardNo }
  	</update>
  	
  	<update id="updateBoardImg">
  	UPDATE BOARD_IMG_TBL
  	SET IMG_FILENAME = #{imgFileName }, IMG_FILERENAME = #{imgFileRename }
  	,IMG_FILEPATH = #{imgFilepath }, IMG_FILELENGTH = #{imgFileLength }
  	WHERE BOARD_NO = #{boardNo }
  	</update>
  	
  	
  	
  	
	
</mapper>