<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TastingMapper">
    <resultMap type="Tasting" id="TastingResultMap">
        <id     property="tastingNo"            column="TASTING_NO"/>
        <result property="tastingName"          column="TASTING_NAME"/>
        <result property="tastingLocation"      column="TASTING_LOCATION"/>
        <result property="tastingDate"          column="TASTING_DATE"/>
        <result property="tastingWriter"          column="TASTING_WRITER"/>
        <result property="tastingContent"       column="TASTING_CONTENT"/>
        <result property="imgFileName"          column="IMG_FILENAME"/>
        <result property="imgFileRename"        column="IMG_FILERENAME"/>
        <result property="imgFilePath"          column="IMG_FILEPATH"/>
        <result property="imgFileLength"        column="IMG_FILELENGTH"/>
    </resultMap>
      <select id="selectTastingList" resultMap="TastingResultMap">
        SELECT * FROM TTASTING_TBL ORDER BY TASTING_NO DESC
    </select>
   <select id="selectByTastingNo" resultMap="TastingResultMap">
		SELECT * FROM TTASTING_TBL WHERE TASTING_NO = #{tastingNo }
	</select>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TTASTING_TBL
	</select>
	<insert id="insertTasting">
		INSERT INTO TTASTING_TBL VALUES(SEQ_TASTING_NO.NEXTVAL, #{tastingName }, #{tastingLocation }, DEFAULT, #{tastingWriter }, #{tastingContent },#{imgFileName }, #{imgFileRename }, #{imgFilePath }, #{imgFileLength })
	</insert>
	<update id="updateTasting">
		UPDATE TTASTING_TBL SET TASTING_NAME = #{tastingName }, TASTING_LOCATION = #{tastingLocation }, TASTING_DATE = DEFAULT, TASTING_WRITER = #{tastingWriter }, TASTING_CONTENT = #{tastingContent }, IMG_FILENAME = #{imgFileName }, IMG_FILERENAME = #{imgFileRename },IMG_FILEPATH = #{imgFilePath },IMG_FILELENGTH = #{imgFileLength }  WHERE tasting_NO = #{tastingNo }
	</update>
	<delete id="deleteTasting">
		DELETE FROM TTASTING_TBL WHERE TASTING_NO = #{tastingNo }
	</delete>
	<select id="searchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TTASTING_TBL
		<if test="searchCondition =='all'">		
			WHERE TASTING_WRITER LIKE '%'||#{searchKeyword}||'%'
			OR TASTING_NAME LIKE '%'||#{searchKeyword}||'%'
			OR TASTING_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'writer'">		
			WHERE TASTING_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">		
			WHERE TASTING_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">	
			WHERE TASTING_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	<select id="searchTastingTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TTASTING_TBL
		<if test="searchCondition == 'writer'">		
			WHERE TASTING_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">		
			WHERE TASTING_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">	
			WHERE TASTING_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	<select id="selectTastingByKeyword" resultMap="TastingResultMap">
		SELECT * FROM TTASTING_TBL
		<if test="searchCondition =='all'">		
			WHERE TASTING_WRITER LIKE '%'||#{searchKeyword}||'%'
			OR TASTING_NAME LIKE '%'||#{searchKeyword}||'%'
			OR TASTING_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'writer'">		
			WHERE TASTING_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">		
			WHERE TASTING_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">	
			WHERE TASTING_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY TASTING_NO DESC
	</select>
	
    
	
	
</mapper>
