<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 첨부파일을 올리지 않고도 등록이 가능하도록 하는 코드(파일이 선택되지 않았을 때 NULL로 표기 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!--  VO가 생성될 때마다 추가 -->
		<typeAlias type="com.oasis.red.admin.domain.UserVO" alias="User"/>
		<typeAlias type="com.oasis.red.tasting.domain.TastingVO" alias="Tasting"/>
		<typeAlias type="com.oasis.red.education.domain.EducationVO" alias="Education"/>
	</typeAliases>
	<mappers>
		<!-- mapper.xml이 생성될 때마다 추가 -->
		<mapper resource="mappers/admin-mapper.xml"></mapper>
		<mapper resource="mappers/tasting-mapper.xml"></mapper>
		<mapper resource="mappers/education-mapper.xml"></mapper>
	</mappers>

</configuration>